<div class="container-fluid">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar me-3">
        <div class="position-sticky">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Üdvözlünk, {{user.keresztnev}}</span>
          </a>
          <hr>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" (click)="jovedelemKategoriakLekeres()" href="#" data-bs-toggle="modal" data-bs-target="#addIncome">
                Bevétel hozzáadása
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="kiadasKategoriakLekeres()" href="#" data-bs-toggle="modal" data-bs-target="#addExpense">
                Kiadás hozzáadása
              </a>
            </li>
          </ul>
          <hr>
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{user.profilkepUrl}}" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>{{user.vezeteknev}} {{user.keresztnev}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">Profil megtekintése</a></li>
              <li><a class="dropdown-item" href="#">Beállítások</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" (click)="logout()">Kijelentkezés</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!--IDE A CONTENT-->
  <div class="content">
    <ol class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let kiadas of kiadasok" >
        <div class="ms-2 me-auto">
          <div class="fw-bold" onload="kiadasKategoriaKezeles(kiadas.kategoriaID)">{{kiadas.kategoriaID}}</div>
          faszomat bele
        </div>
        <span class="badge text-bg-primary rounded-pill">14</span>
      </li>
    </ol>
    
    


    <!--CONTENT EDDIG-->
  
<!-- Bevétel hozzáadása modal element -->
    <div class="modal fade incomeModal" id="addIncome" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Bevétel hozzáadása</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p style="display: flex; justify-content: space-between;"> <span class="bi bi-list-check text-light">&nbsp;Bevétel típusa: </span>
             
              <select name="expenseCategory" id="incomeCategory"  [(ngModel)]="jovedelemTipus">
                <option value="Válassz!">Válassz!</option>
                <option *ngFor="let kategoria of jovedelemKategoriak">{{kategoria.jovedelemKategoria}}</option>
                
              </select>
            </p>
            <p style="display: flex; justify-content: space-between;">  <span class="bi bi-cash text-light">&nbsp;Érték: </span> <input type="number" name="incomeHUF" id="incomeHUF" placeholder="Érték Forintban"  [(ngModel)]="jovedelemErtek"></p>
            <p style="display: flex; justify-content: space-between;"> <span class="bi bi-calendar-date text-light">&nbsp;Bevétel dátuma: </span> <input type="date" name="incomeDate" id="incomeDate"  [(ngModel)]="jovedelemDatum"></p>
    
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Mégsem</button>
            <button type="button" class="btn btn-success" (click)="jovedelemHozzadasa()" data-bs-dismiss="modal">Bevétel mentése</button>
          </div>
        </div>
      </div>
    </div>


      

      <!-- Kiadás hozzáadása modal element -->
      <div class="modal fade expenseModal" id="addExpense" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Kiadás hozzáadása</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
            <div class="modal-body">
             <p style="display: flex; justify-content: space-between;"> <span class="bi bi-list-check text-light">&nbsp;Kiadás típusa: </span>
              <select name="expenseCategory" id="expenseCategory" [(ngModel)]="kiadasTipus">
                <option value="Válassz!">Válassz!</option>
                <option *ngFor="let kategoria of kiadasKategoriak">{{ kategoria.kiadasKategoria }}</option>
              </select></p>
              <p style="display: flex; justify-content: space-between;"> <span class="bi bi-cash text-light">&nbsp;Érték: </span> <input type="number" name="expenseHUF" id="expenseHUF"[(ngModel)]="kiadasErtek" placeholder="Érték forintban"></p>
              <p style="display: flex; justify-content: space-between;"> <span class="bi bi-calendar-date text-light">&nbsp;Kiadás dátuma: </span><input type="date" name="expenseDate" id="expenseDate" [(ngModel)]="kiadasDatum"></p>
              <p> <span class="bi bi-chat-left-text text-light"></span> Kiadás kommentelése:</p>
              <textarea name="expenseComment" id="expenseComment" [(ngModel)]="kiadasMegjegyzes" placeholder="pl. Vásárlás során válaszott termékek - NEM KÖTELEZŐ!"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Mégsem</button>
              <button type="button" class="btn btn-success" (click)="kiadasHozzaadas()">Kiadás mentése</button>
            </div>
          </form>
          </div>
        </div>
      </div>

    