<div class="container-fluid">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar me-3">
        <div class="position-sticky">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Üdvözlünk, {{user.keresztnev}}</span>
          </a>
          <hr>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#addIncome">
                Bevétel hozzáadása
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#addExpense">
                Kiadás hozzáadása
              </a>
            </li>
          </ul>
          <hr>
          <p><strong>Összes bevétel <br> {{currentYear}}. év {{currentMonth}}. hónapban:</strong></p>
          <p class="text-success">{{bevetelSum}} HUF <br> {{ (bevetelSum / EURtoHUF) | number:'1.2-2' }} EUR</p>

          <p><strong>Összes kiadás <br> {{currentYear}}. év {{currentMonth}}. hónapban:</strong></p>
          <p class="text-danger">-{{kiadasSum}} HUF <br> -{{ (kiadasSum / EURtoHUF) | number:'1.2-2' }} EUR</p>

          <p><strong>Egyenleg <br> {{currentYear}}. év {{currentMonth}}. hónapban:</strong></p>
          <p>{{bevetelSum - kiadasSum}} HUF <br> {{ ((bevetelSum - kiadasSum) / EURtoHUF) | number:'1.2-2' }} EUR</p>
          <hr>
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{user.profilkepUrl}}" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>{{user.vezeteknev}} {{user.keresztnev}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">Profil megtekintése</a></li>
              <li><a class="dropdown-item" href="#">Beállítások</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" (click)="logout()">Kijelentkezés</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Bevétel hozzáadása modal element -->
<div class="modal fade" id="addIncome" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Bevétel hozzáadása</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> <img src="../../../assets/favicon/category.png" alt="" class="favicon"> 
          Bevétel típusa: 
          <select name="expenseCategory" id="incomeCategory">
            <option value="Válassz!">Válassz!</option>
          </select>
        </p>
        <p> <img src="../../../assets/favicon/cash.png" alt="" class="favicon"> Érték: <input type="number" name="incomeHUF" id="incomeHUF"> HUF</p>
        <p> <img src="../../../assets/favicon/calendar.png" alt="" class="favicon"> Bevétel dátuma: <input type="date" name="incomeDate" id="incomeDate"></p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Bezárás</button>
        <button type="button" class="btn btn-success">Bevétel mentése</button>
      </div>
    </div>
  </div>
</div>

      <!-- Kiadás hozzáadása modal element -->
      <div class="modal fade" id="addExpense" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Kiadás hozzáadása</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             <p> <img src="../../../assets/favicon/category.png" alt="" class="favicon"> Kiadás típusa: <select name="expenseCategory" id="expenseCategory">
                <option value="Válassz!">Válassz!</option>
              </select></p>
              <p> <img src="../../../assets/favicon/cash.png" alt="" class="favicon"> Érték: <input type="number" name="expenseHUF" id="expenseHUF"> HUF</p>
              <p> <img src="../../../assets/favicon/calendar.png" alt="" class="favicon"> Kiadás dátuma: <input type="date" name="expenseDate" id="expenseDate"></p>
              <p> <img src="../../../assets/favicon/comment.png" alt="" class="favicon"> Kiadás kommentelése:</p>
              <textarea name="expenseComment" id="expenseComment" placeholder="pl. Vásárlás során válaszott termékek - NEM KÖTELEZŐ!"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Bezárás</button>
              <button type="button" class="btn btn-success">Kiadás mentése</button>
            </div>
          </div>
        </div>
      </div>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ms-5">
        <div class="row ms-3">
        
          <apx-chart [series]="chartOptions?.series || []" [chart]="chartOptions?.chart || { type: 'line' }" [xaxis]="chartOptions?.xaxis || {}" [dataLabels]="chartOptions?.dataLabels || {}" [stroke]="chartOptions?.stroke || {}" [title]="chartOptions?.title || {}"></apx-chart>
        </div>
      </main>

