.havikiadasok {
    color: white;
}

/* filepath: /c:/Users/marto/Documents/GitHub/CashTrack/CashTrack/src/app/components/dashboard/dashboard.component.scss */
#sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 12px linear-gradient(#084404, #0c0c0c) solid;
    border-radius: 20px;
    padding: 1.5em;
    background: linear-gradient(rgba(0, 51, 1, 0.4), rgba(12, 12, 12, 0.8));
    color: white;
    margin: 25px;
    margin-bottom: -25px;
  }

  .dropdown-menu{
    background-color: rgba($color: #2e2e2e, $alpha: 0.3);
    color: white;
    margin: 25px;
    margin-bottom: -25px;
  }
  
  .nav-link {
    color: #fff;
  }
  
  .nav-link.active {
    color: #0d6efd;
    background-color: #e9ecef;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      position: relative;
      height: auto;
      width: 100%;
    }
  }
  
  .main-content {
    margin-left: 250px; /* Adjust this value based on the sidebar width */
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
    }
  }

.nav-item:hover{
    background-color: rgba(143, 143, 143, 0.6);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.dropdown-menu a:hover{
    background-color: rgba(143, 143, 143, 0.6);
    transition: 0.2s ease-in-out;
}