<!--Belépés kód-->

<div class="container justify-content-center">
    <div class="row ">

        <div class="col">
            <form formGroup="loginForm">
                <h1 class="form-title">Belépés</h1>
                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" placeholder="Email" required>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="password" placeholder="Jelszó" required>
                </div>
                <div class="signInDiv">
                    <p>Nincs még fiókod?</p>
                    <button id="signUpButton" routerLink="/register">Regisztálj!</button>
                </div>
            </form>

        </div>
    </div>
    
    
</div>


<!-- <div class="container" id="signIn">
    <h1 class="form-title">Belépés</h1>
    <form formGroup="loginForm"  >
    <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input type="email"  id="email" placeholder="Email" required>
        <label class="user-label" for="email">Email</label>
        
    </div>
    <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password"   id="password" placeholder="Jelszó" required>
        <label class="user-label" for="password">Jelszó</label> 
    </div>
   
        <input type="submit" class="btn" value="Belépés" name="signIn" >
         
    </form>
     reg gomb login oldalon
    <div class="signInDiv">
        <p>Nincs még fiókod?</p>
        <button id="signUpButton" routerLink="/register">Regisztálj!</button>
    </div>
</div> -->



