<p>manager works!</p>

<div class="sidebar">
    <ul>
        <li><!-- "Felhasználó profilkép" --> <p>Üdv, "felhasználónév"</p></li>
        <li><a routerLink="/manager"></a>Statisztika</li> <!-- Statisztika oldala, statisztika -->
        <li>Bevétel hozzáadása</li>  <!-- Bevétel hozzáadása egy popup ablakban  -->
        <li>Kiadás hozzáadása</li>  <!-- Kiadás hozzáadása egy popup ablakban  -->
        <li></li>
        <li>Beállítások</li>    <!-- Beállítások oldala -->
        <li>Kijelentkezés</li> <!-- Logout -->
    </ul>
</div>
<div class="tartalom">  <!-- Content Box -->
    <div class="overview">  <!-- Áttekintés doboz -->
        <div class="egyenlegBox"></div>
        <div class="haviKoltseg"></div>
        <div class="haviBevetel"></div>
        <div class="elozoHonap"></div> <!-- Előző hónaphoz hasonlítás --> 
    </div>
    <div class="koltsegChart">  <!-- Chart doboza -->

    </div>
    <div></div>
    <div class="recentExpense"></div> <!-- Utolsó kiadások doboza -->
</div>